.ant-layout-sider .ant-menu:first-child {
    padding-top: 20px;
}

.ant-layout-sider .ant-menu-item {
    height: 28px;
    line-height: 28px;
}

.ant-layout-sider-trigger {
    border-right: 1px solid #f0f0f0;
}

.sidebar-menu-itemgroup {
    margin-bottom: 16px;
}

.sidebar-menu-itemgroup .ant-menu-item-group-title {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}    

.ant-menu-inline-collapsed .ant-menu-item-group-title {
    display: none;
}

.ant-layout-sider .ant-menu-inline-collapsed .ant-menu-item {
    height: auto;
    line-height: auto;
}

.main-descriptions tr th {
    font-weight: bold;
}

h4.ant-typography, h5.ant-typography {
    margin-bottom: 0px;
}

.ant-drawer-header {
    /* make the header the same height as the nav bar */
    padding: 20px 24px 21px 24px;
}

.ant-drawer-right.ant-drawer-open.no-mask {
    box-shadow: 0px 0px 10px 0px #555555;
}